<p>
  Birthday:
  <%= @bday %>
  <br>
  Matches:
  <% if @matches %>
    <%= @matches.length %>
    <% if @matches.length > 1 %>
      <br>Which is your case ID?
      <ol>
        <% @matches.each do |match| %>
          <li>
            <%= match["caseid"] %>
          </li>
          <!-- <li>
            <% if match["position_number"] %>
              You are number <%= match["position_number"] %> in the waitlist
              <br>
            <% end %>
            <% match.each do |key, value| %>
              <%= key %>: <%= value %> <br />
            <% end %>
          </li> -->
        <% end %>
      </ol>
    <% elsif @matches.length > 0  %>
      <% if @matches.first["position_number"] %>
        <br>You are number <%= @matches.first["position_number"] %> in the waitlist
      <% end %>
    <% end %>
  <% end %>
</p>

<p>
  <%= link_to "New search", searches_path, class: "btn btn-md btn-info" %>
</p>
