<h1>HSA SF Waitlist Notifier</h1>

<p>
  <%= form_tag("/searches", method: "POST") do %>
    <%= label_tag(:q, "Enter birthday:") %>
    <%= date_field_tag(:birthdate) %>
    <%= submit_tag("Submit", class: "btn btn-sm btn-info") %>
  <% end %>
</p>

<p>
  <% if current_user %>
    <% if current_user.birthdate %>
      <%= link_to "Use my birthday", searches_path(birthdate: "#{current_user.birthdate.to_s}"), method: :post, class: "btn btn-sm btn-success" %>
    <% end %>
  <% end %>
</p>

<p>
  <%= link_to "See full waitlist", all_searches_path, class: "btn btn-sm btn-default" %>
</p>
