<h1>HSA SF Waitlist Notifier</h1>

<p>
  <% if user_signed_in? %>
    hello, <%= current_user.name %>!
    <br><%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign In", new_user_session_path %>
    <br><%= link_to "Sign Up", new_user_registration_path %>
  <%end %>
</p>

<p>
  Please enter your birthday:
</p>

<p>
  <%= form_tag("/searches", method: "POST") do %>
    <%= label_tag(:q, "Enter birthday:") %>
    <%= date_field_tag(:birthdate) %>
    <%= submit_tag("Submit") %>
  <% end %>
</p>

<h3>Waitlist</h3>
<ol>
  <% @waitlist_array.each do |entry| %>
    <li>
      <% entry.each do |key, value| %>
        <%= key %>: <%= value %> <br />
      <% end %>
    </li>
  <% end %>
</ol>
