<h1>HSA SF Waitlist Notifier</h1>

<p>
  Please enter your birthday:
</p>

<p>
  <%= form_tag("/searches", method: "POST") do %>
    <%= label_tag(:q, "Enter birthday:") %>
    <%= date_field_tag(:birthdate) %>
    <%= submit_tag("Submit") %>
  <% end %>
</p>

<p>
  <%= link_to "See full waitlist", all_searches_path %>
</p>
